/* screen - explore-screen-bgold */

.border-class-1 {
  border: 1px solid transparent;
}
.border-class-2 {
  border: 3px solid var(--black);
}
.border-class-3 {
  border: 1px solid var(--black-haze);
}
.epilogue-bold-black-20px {
  color: var(--black);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.epilogue-bold-white-20px {
  color: var(--white);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.epilogue-extra-bold-white-12px {
  color: var(--white);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
}
.explore-screen-bgold {
  background-color: var(--black-2);
  height: 100vh;
  margin: 0px;
  min-height: 901px;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.explore-screen-bgold .b-gold-i177413149304-m6vUUI {
  background-color: transparent;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 49px;
  width: auto;
}
.explore-screen-bgold .button-normal-m6vUUI {
  background-color: var(--mist-gray);
  height: 30px;
  left: 50px;
  pointer-events: auto;
  position: absolute;
  top: 135px;
  transition: all 0.2s ease;
  width: 177px;
}
.explore-screen-bgold .button-normal-m6vUUI:hover {

transform: translate(0, -5px);
}
.explore-screen-bgold .close-C61RwL {
  background-color: transparent;
  background-image: url(../img/ellipse-16-2@2x.svg);
  background-size: 100% 100%;
  height: 3.22%;
  left: 75.76%;
  position: absolute;
  top: 53.72%;
  width: 2.01%;
}
.explore-screen-bgold .ellipse-10-m6vUUI {
  background-color: transparent;
  height: 12px;
  left: 40px;
  position: absolute;
  top: 26px;
  width: 12px;
}
.explore-screen-bgold .explore-b-gold-C61RwL {
  background-color: transparent;
  height: 20.53%;
  left: 59.44%;
  overflow: hidden;
  position: absolute;
  top: 52.72%;
  width: 18.75%;
}
.explore-screen-bgold .explore-nK2KA3 {
  background-color: var(--white);
  border-radius: 62px;
  height: 185px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 270px;
}
.explore-screen-bgold .gold-pegge-7413149305-m6vUUI {
  background-color: transparent;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 78px;
  width: 194px;
}
.explore-screen-bgold .in-develop-7413149302-m6vUUI {
  background-color: transparent;
  height: auto;
  left: 57px;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 24px;
  width: auto;
}
.explore-screen-bgold .vote-i1774-4930638139-SVxsQ7 {
  background-color: transparent;
  height: 53.33%;
  left: 21.47%;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: center;
  top: 23.33%;
  width: 58.19%;
}
.explore-screen-bgold .x-i177363177203-LHZnTa {
  background-color: transparent;
  height: 41.38%;
  left: 37.93%;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  top: 31.03%;
  width: 34.48%;
}
.karla-bold-black-8px {
  color: var(--black);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
}
.karla-bold-white-12px {
  color: var(--white);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.karla-bold-white-16px {
  color: var(--white);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.karla-extra-bold-black-14px {
  color: var(--black);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
}
.karla-extra-bold-white-14px {
  color: var(--white);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
}
.karla-light-eerie-black-14px {
  color: var(--eerie-black);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}
.robotomono-bold-white-14px {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
:root {
  --black: rgba(0,0,0,1.0);
  --black-2: rgba(0,0,0,0.1);
  --black-haze: rgba(246,246,246,1.0);
  --eerie-black: rgba(28,28,28,1.0);
  --mist-gray: rgba(196,196,196,1.0);
  --white: rgba(255,255,255,1.0);
}