/* screen - explore-screen-metric */

.border-class-1 {

}
.border-class-2 {
  border: 3px solid var(--black);
}
.border-class-3 {
  border: 1px solid var(--black-haze);
}
.epilogue-bold-black-20px {
  color: var(--black);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.epilogue-bold-white-20px {
  color: var(--white);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.epilogue-extra-bold-white-12px {
  color: var(--white);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
}
.explore-screen-metric {
  background-color: var(--black-2);
  height: 100vh;
  margin: 0px;
  min-height: 901px;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.explore-screen-metric .button-normal-Le6lzv {
  background-color: var(--mist-gray);
  height: 30px;
  left: 37px;
  pointer-events: auto;
  position: absolute;
  top: 135px;
  transition: all 0.2s ease-in-out;
  width: 197px;
}
.explore-screen-metric .button-normal-Le6lzv:hover {

transform: translate(0, -5px);
}
.explore-screen-metric .close-C61RwL {
  background-color: transparent;
  background-image: url(../img/ellipse-16@2x.png);
  background-size: 100% 100%;
  height: 3.22%;
  left: 39.58%;
  position: absolute;
  top: 55.49%;
  width: 2.01%;
}
.explore-screen-metric .dex-aggreg-i177191613-Le6lzv {
  background-color: transparent;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 78px;
  width: 196px;
}
.explore-screen-metric .ellipse-10-Le6lzv {
  background-color: transparent;
  height: 12px;
  left: 40px;
  position: absolute;
  top: 26px;
  width: 12px;
}
.explore-screen-metric .explore-dI8Km1 {
  background-color: var(--white);
  border-radius: 62px;
  height: 184px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 270px;
}
.explore-screen-metric .explore-metric-C61RwL {
  background-color: transparent;
  height: 20.42%;
  left: 23.33%;
  overflow: hidden;
  position: fixed;
  top: 55.16%;
  width: 18.75%;
}
.explore-screen-metric .live-i177191618-Le6lzv {
  background-color: transparent;
  height: auto;
  left: 57px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 24px;
  width: auto;
}
.explore-screen-metric .metric-i177191612-Le6lzv {
  background-color: transparent;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 49px;
  width: auto;
}
.explore-screen-metric .vote-i1771-1441838139-H7uEdq {
  background-color: transparent;
  height: 53.33%;
  left: 19.29%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 23.33%;
  width: 62.44%;
}
.explore-screen-metric .x-i177369177203-LHZnTa {
  background-color: transparent;
  height: 41.38%;
  left: 37.93%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 31.03%;
  width: 34.48%;
}
.karla-bold-black-8px {
  color: var(--black);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
}
.karla-bold-white-12px {
  color: var(--white);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.karla-bold-white-16px {
  color: var(--white);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.karla-extra-bold-black-14px {
  color: var(--black);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
}
.karla-extra-bold-white-14px {
  color: var(--white);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
}
.karla-light-eerie-black-14px {
  color: var(--eerie-black);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}
.robotomono-bold-white-14px {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
:root {
  --black: rgba(0,0,0,1.0);
  --black-2: rgba(0,0,0,0.1);
  --black-haze: rgba(246,246,246,1.0);
  --eerie-black: rgba(28,28,28,1.0);
  --mist-gray: rgba(196,196,196,1.0);
  --white: rgba(255,255,255,1.0);
}