/* screen - get-in-touch */

.border-class-1 {
  border: 1px solid transparent;
}
.border-class-2 {
  border: 3px solid var(--black);
}
.border-class-3 {
  border: 1px solid var(--black-haze);
}
.epilogue-bold-black-20px {
  color: var(--black);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.epilogue-bold-white-20px {
  color: var(--white);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.epilogue-extra-bold-white-12px {
  color: var(--white);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
}
.get-in-touch {
  background-color: transparent;
  height: 100vh;
  margin: 0px;
  min-height: 203px;
  min-width: 297px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.get-in-touch .arrow-1-SbihJB {
  background-color: transparent;
  height: 0px;
  left: 50.34%;
  position: absolute;
  top: 17.98%;
  width: 3.03%;
}
.get-in-touch .get-in-touch-6381-SbihJB {
  background-color: transparent;
  color: var(--black);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 8.87%;
  left: 13.47%;
  letter-spacing: 0.00px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 13.30%;
  width: 47.81%;
}
.get-in-touch .get-in-touch-C61RwL {
  background-color: var(--white);
  border-radius: 62px;
  height: 203px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 297px;
}
.get-in-touch .vector-1NPcdJ {
  background-color: transparent;
  height: 100.00%;
  left: 4.17%;
  position: absolute;
  top: 0px;
  width: 91.67%;
}
.get-in-touch .vector-9weVEC {
  background-color: transparent;
  height: 14.39%;
  left: 40.76%;
  position: absolute;
  top: 20.42%;
  width: 14.41%;
}
.get-in-touch .vector-CjHxHJ {
  background-color: transparent;
  height: 95.89%;
  left: 0px;
  position: absolute;
  top: 2.02%;
  width: 99.73%;
}
.get-in-touch .vector-EI2Re3 {
  background-color: transparent;
  height: 59.28%;
  left: 36.60%;
  position: absolute;
  top: 36.59%;
  width: 63.44%;
}
.get-in-touch .vector-FhtcM1 {
  background-color: transparent;
  height: 0px;
  left: 84.52%;
  position: absolute;
  top: 40.60%;
  width: 0px;
}
.get-in-touch .vector-HgT71v {
  background-color: transparent;
  height: 28.87%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 28.52%;
}
.get-in-touch .vector-J3RjSP {
  background-color: transparent;
  height: 14.39%;
  left: 48.91%;
  position: absolute;
  top: 52.98%;
  width: 14.40%;
}
.get-in-touch .vector-NHgmVN {
  background-color: transparent;
  height: 47.57%;
  left: 16.36%;
  position: absolute;
  top: 20.24%;
  width: 67.27%;
}
.get-in-touch .vector-VSTwiT {
  background-color: transparent;
  height: 74.98%;
  left: 0px;
  position: absolute;
  top: 12.69%;
  width: 100.01%;
}
.get-in-touch .vector-bRXrfX {
  background-color: transparent;
  height: 81.24%;
  left: 0.52%;
  position: absolute;
  top: 9.38%;
  width: 98.96%;
}
.get-in-touch .vector-cPct9I {
  background-color: transparent;
  height: 71.39%;
  left: 0px;
  position: absolute;
  top: 4.12%;
  width: 74.89%;
}
.get-in-touch .vector-dpdt9w {
  background-color: transparent;
  height: 14.38%;
  left: 53.01%;
  position: absolute;
  top: 36.70%;
  width: 14.32%;
}
.get-in-touch .vector-exNelG {
  background-color: transparent;
  height: 14.39%;
  left: 16.30%;
  position: absolute;
  top: 20.42%;
  width: 14.40%;
}
.get-in-touch .vector-kSxQno {
  background-color: transparent;
  height: 68.96%;
  left: 1.35%;
  position: absolute;
  top: 31.04%;
  width: 26.09%;
}
.get-in-touch .vector-pW9gOc {
  background-color: transparent;
  height: 87.51%;
  left: 0px;
  position: absolute;
  top: 4.16%;
  width: 100.00%;
}
.get-in-touch .vector-sPLS6v {
  background-color: transparent;
  height: 70.41%;
  left: 32.96%;
  position: absolute;
  top: 29.59%;
  width: 67.14%;
}
.get-in-touch .vector-tV5ytr {
  background-color: transparent;
  height: 14.39%;
  left: 73.37%;
  position: absolute;
  top: 52.98%;
  width: 14.41%;
}
.get-in-touch .vector-xkM0fX {
  background-color: transparent;
  height: 14.40%;
  left: 32.69%;
  position: absolute;
  top: 36.68%;
  width: 14.29%;
}
.get-in-touch .x016-discord-1-SbihJB {
  background-color: transparent;
  height: 16.42%;
  left: 77.44%;
  overflow: hidden;
  position: absolute;
  top: 34.48%;
  width: 11.22%;
}
.get-in-touch .x032-github-1-SbihJB {
  background-color: transparent;
  height: 16.42%;
  left: 13.47%;
  overflow: hidden;
  position: absolute;
  top: 34.48%;
  width: 11.22%;
}
.get-in-touch .x052-linkedin-1-SbihJB {
  background-color: transparent;
  height: 16.42%;
  left: 34.79%;
  overflow: hidden;
  position: absolute;
  top: 34.48%;
  width: 11.22%;
}
.get-in-touch .x054-medium-1-SbihJB {
  background-color: transparent;
  height: 16.42%;
  left: 56.12%;
  overflow: hidden;
  position: absolute;
  top: 34.48%;
  width: 11.22%;
}
.get-in-touch .x089-telegram-1-SbihJB {
  background-color: transparent;
  height: 16.42%;
  left: 13.47%;
  overflow: hidden;
  position: absolute;
  top: 62.40%;
  width: 11.22%;
}
.get-in-touch .x096-twitter-1-SbihJB {
  background-color: transparent;
  height: 16.42%;
  left: 34.79%;
  overflow: hidden;
  position: absolute;
  top: 62.40%;
  width: 11.22%;
}
.get-in-touch .x108-wechat-1-SbihJB {
  background-color: transparent;
  height: 16.42%;
  left: 56.12%;
  overflow: hidden;
  position: absolute;
  top: 62.40%;
  width: 11.22%;
}
.karla-bold-black-8px {
  color: var(--black);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
}
.karla-bold-white-12px {
  color: var(--white);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.karla-bold-white-16px {
  color: var(--white);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.karla-extra-bold-black-14px {
  color: var(--black);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
}
.karla-extra-bold-white-14px {
  color: var(--white);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
}
.karla-light-eerie-black-14px {
  color: var(--eerie-black);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}
.robotomono-bold-white-14px {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
:root {
  --black: rgba(0,0,0,1.0);
  --black-2: rgba(0,0,0,0.1);
  --black-haze: rgba(246,246,246,1.0);
  --eerie-black: rgba(28,28,28,1.0);
  --mist-gray: rgba(196,196,196,1.0);
  --white: rgba(255,255,255,1.0);
}