/* screen - home */

.anima-animate-enter {
  animation: anima-animate-enter-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(-25px, 0);
}
.anima-animate-enter1 {
  animation: anima-animate-enter1-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(-25px, 0);
}
.anima-animate-enter2 {
  animation: anima-animate-enter2-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
opacity: 0;transform: translate(0, 25px);
}
.border-class-1 {

}
.border-class-2 {
  border: 3px solid var(--black);
}
.border-class-3 {
  border: 1px solid var(--black-haze);
}
.epilogue-bold-black-20px {
  color: var(--black);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.epilogue-bold-white-20px {
  color: var(--white);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.epilogue-extra-bold-white-12px {
  color: var(--white);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
}
.home {
  background-color: var(--black);
  height: 100vh;
  margin: 0px;
  min-height: 2309px;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.home .arrow-1-iPe1yZ {
  background-color: transparent;
  height: 4.59%;
  left: 23.82%;
  position: absolute;
  top: 60.27%;
  width: 0.56%;
}
.home .arrow-2-Ebfosa {
  background-color: transparent;
  height: 11.63%;
  left: 82.10%;
  position: absolute;
  top: 41.28%;
  width: 0.66%;
}
.home .build-fina-ity-177646-C61RwL {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 9.72%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 515px;
  width: 42.71%;
opacity: 0;transform: translate(-25px, 0);
}
.home .build-fina-nity-38147-C61RwL {
  background-color: transparent;
  color: var(--white);
  display: block;
  font-family: "Epilogue", Helvetica, Arial, serif;
  font-size: 56px;
  height: auto;
  left: 9.72%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 430px;
  width: 42.71%;
opacity: 0;transform: translate(-25px, 0);
}
.home .build-fram--legos-2-1-C61RwL {
  background-color: transparent;
  height: 537px;
  left: 60.14%;
  position: absolute;
  top: 205px;
  width: 28.26%;
}
.home .build-toke-pair-37113-C61RwL {
  background-color: transparent;
  color: var(--eerie-black);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 44.79%;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: left;
  top: 1139px;
  width: 33.40%;
}
.home .build-token-37112-C61RwL {
  background-color: transparent;
  height: auto;
  left: 44.79%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 1086px;
  width: 18.06%;
}
.home .buy-build-i381033872-iPe1yZ {
  background-color: transparent;
  height: 8.70%;
  left: 35.69%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 57.97%;
  width: 9.86%;
}
.home .coin-gecko-449-hvAGCq {
  background-color: transparent;
  height: auto;
  left: 33.75%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 5px;
  width: 66.25%;
}
.home .documentat--i37292386-Ebfosa {
  background-color: transparent;
  height: 22.09%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  right: 259px;
  text-align: left;
  text-decoration: underline;
  top: 33.72%;
  width: auto;
}
.home .etherscan-4410-zUixHA {
  background-color: transparent;
  height: auto;
  left: 35.37%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: 64.63%;
}
.home .footer-C61RwL {
  background-color: transparent;
  bottom: 47px;
  display: block;
  height: 207px;
  left: 0px;
  position: absolute;
  width: 100%;
opacity: 0;transform: translate(0, 25px);
}
.home .frame-1-C61RwL {
  background-color: var(--black);
  height: 33px;
  left: 46.74%;
  pointer-events: auto;
  position: absolute;
  top: 1637px;
  transition: all 0.2s ease;
  width: 7.99%;
}
.home .frame-1-C61RwL:hover {

transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.home .frame-2-C61RwL {
  background-color: rgba(9,9,9,1.0);
  height: 33px;
  left: 70.07%;
  pointer-events: auto;
  position: absolute;
  top: 1077px;
  transition: all 0.2s ease;
  width: 7.99%;
}
.home .frame-2-C61RwL:hover {

transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.home .get-in-tou--i37292387-Ebfosa {
  background-color: transparent;
  height: 22.09%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  right: 118px;
  text-align: left;
  text-decoration: underline;
  top: 33.72%;
  width: auto;
}
.home .get-in-tou--i38103979-iPe1yZ {
  background-color: transparent;
  height: 8.70%;
  left: 16.88%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 57.97%;
  width: 9.86%;
}
.home .get-in-tou-i381033871-iPe1yZ {
  background-color: transparent;
  height: 8.70%;
  left: 16.88%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 57.97%;
  width: 9.86%;
}
.home .governance-37125-C61RwL {
  background-color: transparent;
  height: auto;
  left: 21.46%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 1646px;
  width: 18.06%;
}
.home .governance-i381033874-iPe1yZ {
  background-color: transparent;
  height: 8.70%;
  left: 73.33%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 57.97%;
  width: 9.86%;
}
.home .group-2-C61RwL {
  background-color: transparent;
  height: 18px;
  left: 849px;
  position: absolute;
  top: 1328px;
  width: 73px;
}
.home .group-3-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 730px;
  position: absolute;
  top: 1328px;
  width: 75px;
}
.home .group-4-C61RwL {
  background-color: transparent;
  height: 23px;
  left: 966px;
  position: absolute;
  top: 1324px;
  width: 70px;
}
.home .image-1-Ebfosa {
  background-color: transparent;
  height: 74.42%;
  left: 114px;
  position: absolute;
  top: 11.63%;
  width: 276px;
}
.home .image-12-iPe1yZ {
  background-color: transparent;
  height: 13.04%;
  left: 16.88%;
  position: absolute;
  top: 88.41%;
  width: 1.87%;
}
.home .image-13-iPe1yZ {
  background-color: transparent;
  height: 14.01%;
  left: 19.24%;
  position: absolute;
  top: 87.92%;
  width: 2.01%;
}
.home .image-14-iPe1yZ {
  background-color: transparent;
  height: 13.04%;
  left: 21.74%;
  position: absolute;
  top: 88.41%;
  width: 1.81%;
}
.home .image-15-iPe1yZ {
  background-color: transparent;
  height: 11.59%;
  left: 21.94%;
  position: absolute;
  top: 73.91%;
  width: 1.67%;
}
.home .image-6-iPe1yZ {
  background-color: transparent;
  height: 9.18%;
  left: 24.51%;
  position: absolute;
  top: 74.88%;
  width: 1.39%;
}
.home .image-7-iPe1yZ {
  background-color: transparent;
  height: 9.66%;
  left: 19.65%;
  position: absolute;
  top: 74.88%;
  width: 1.39%;
}
.home .image-8-iPe1yZ {
  background-color: transparent;
  height: 12.56%;
  left: 16.88%;
  position: absolute;
  top: 73.43%;
  width: 1.87%;
}
.home .line-7-Ebfosa {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 566px;
  top: 0px;
  width: 1px;
}
.home .line-8-Ebfosa {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 100%;
}
.home .nav-C61RwL {
  background-color: var(--black);
  height: 86px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}
.home .products-i37292385-Ebfosa {
  background-color: transparent;
  height: 22.09%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  right: 434px;
  text-align: left;
  text-decoration: underline;
  top: 33.72%;
  width: auto;
}
.home .rectangle-1-Ebfosa {
  background-color: var(--black);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.home .rectangle-3-C61RwL {
  background-color: var(--white);
  border-radius: 62px;
  box-shadow: 0px 4px 50px rgba(0,0,0,0.25);;
  height: 348px;
  left: 41.04%;
  position: absolute;
  top: 1036px;
  width: 40.83%;
}
.home .rectangle-3-VMr6Om {
  background-color: var(--white);
  border-radius: 62px;
  box-shadow: 0px 4px 50px rgba(0,0,0,0.25);;
  height: 306px;
  left: 18.06%;
  position: absolute;
  top: 1595px;
  width: 40.83%;
}
.home .rectangle-6-iPe1yZ {
  background-color: transparent;
  border: 1px solid var(--white);
  height: 0.48%;
  left: 0px;
  position: absolute;
  top: 9.18%;
  width: 100%;
}
.home .scroll-down-C61RwL {
  background-color: transparent;
  height: 48px;
  left: 712px;
  position: absolute;
  top: 814px;
  width: calc(100.00% - 1424px);
}
.home .small-piece-1-iPe1yZ {
  background-color: transparent;
  height: 37.68%;
  left: 48.19%;
  position: absolute;
  top: 0px;
  width: 3.61%;
}
.home .span1-ynMSFp {
  color: rgba(255,255,255,1.0);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
}
.home .span2-ynMSFp {
  color: rgba(255,255,255,1.0);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
}
.home .stake-37115-gUEd1c {
  background-color: transparent;
  color: var(--white);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: auto;
}
.home .stake-buil-i381033873-iPe1yZ {
  background-color: transparent;
  height: 8.70%;
  left: 54.51%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 57.97%;
  width: 9.86%;
}
.home .token-graphic-C61RwL {
  background-color: transparent;
  height: 223px;
  left: 260px;
  position: absolute;
  top: 1099px;
  width: 135px;
}
.home .uniswap-4411-KOsP6k {
  background-color: transparent;
  height: auto;
  left: 40.30%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 7px;
  width: 58.27%;
}
.home .vote-37128-WzCX2w {
  background-color: transparent;
  color: var(--white);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: auto;
}
.home .vote-graphic-C61RwL {
  background-color: transparent;
  height: 221px;
  left: 987px;
  position: absolute;
  top: 1675px;
  width: 219px;
}
.home .x-currently-soon-37126-C61RwL {
  background-color: transparent;
  color: var(--eerie-black);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: 162px;
  left: 21.46%;
  letter-spacing: 0.00px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 1687px;
  width: 30.83%;
}
.home .x256x256-bl-02-layer-1-KOsP6k {
  background-color: transparent;
  height: 24px;
  left: -0.32%;
  position: absolute;
  top: 0px;
  width: 30.02%;
}
.home .x256x256-bl-gecko-logo-hvAGCq {
  background-color: transparent;
  height: 20px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 26.06%;
}
.home .x256x256-bl-ogo-circle-zUixHA {
  background-color: transparent;
  height: 18px;
  left: -0.20%;
  position: absolute;
  top: 0px;
  width: 25.32%;
}
.karla-bold-black-8px {
  color: var(--black);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
}
.karla-bold-white-12px {
  color: var(--white);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.karla-bold-white-16px {
  color: var(--white);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.karla-extra-bold-black-14px {
  color: var(--black);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
}
.karla-extra-bold-white-14px {
  color: var(--white);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
}
.karla-light-eerie-black-14px {
  color: var(--eerie-black);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}
.robotomono-bold-white-14px {
  color: var(--white);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
:root {
  --black: rgba(0,0,0,1.0);
  --black-2: rgba(0,0,0,0.1);
  --black-haze: rgba(246,246,246,1.0);
  --eerie-black: rgba(28,28,28,1.0);
  --mist-gray: rgba(196,196,196,1.0);
  --white: rgba(255,255,255,1.0);
}
@keyframes anima-animate-enter-frames {

from{opacity: 0;transform: translate(-25px, 0);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes anima-animate-enter1-frames {

from{opacity: 0;transform: translate(-25px, 0);}
to{opacity: 1;transform: translate(0,0);}
}
@keyframes anima-animate-enter2-frames {

from{opacity: 0;transform: translate(0, 25px);}
to{opacity: 1;transform: translate(0,0);}
}
