/* screen - home */

.home {
  background-color: rgba(0,0,0,1.0);
  height: 2309px;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 1440px;
}
.home .arrow-1-iPe1yZ {
  --anima-z-index: 6;
  background-color: transparent;
  background-image: url(../img/arrow-1@2x.svg);
  background-size: 100% 100%;
  height: 0px;
  left: 352px;
  opacity: 1;
  position: absolute;
  top: 130px;
  width: 9px;
}
.home .arrow-2-Ebfosa {
  --anima-z-index: 6;
  background-color: transparent;
  background-image: url(../img/arrow-2@2x.svg);
  background-size: 100% 100%;
  height: 0px;
  left: 1181px;
  opacity: 1;
  position: absolute;
  top: 41px;
  width: 12px;
}
.home .build-fina-nity-38147-C61RwL {
  --anima-z-index: 25;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: "Epilogue", Helvetica, Arial, serif;
  font-size: 46px;
  height: auto;
  left: 140px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 272px;
  width: 615px;
}
.home .build-fram--legos-2-1-C61RwL {
  --anima-z-index: 27;
  background-color: transparent;
  background-image: url(../img/build-framework-legos-2-1@1x.png);
  background-size: 100% 100%;
  height: 537px;
  left: 866px;
  opacity: 1;
  position: absolute;
  top: 205px;
  width: 407px;
}
.home .build-symbolsmall-1-C61RwL {
  --anima-z-index: 13;
  background-color: transparent;
  background-image: url(../img/build-symbol-small-1@2x.png);
  background-size: 100% 100%;
  height: 49px;
  left: 302px;
  opacity: 1;
  position: absolute;
  top: 1142px;
  width: 50px;
}
.home .build-toke-pair-37113-C61RwL {
  --anima-z-index: 3;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(28,28,28,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 645px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 1;
  position: absolute;
  text-align: justify;
  top: 1139px;
  width: 481px;
}
.home .build-token-37112-C61RwL {
  --anima-z-index: 2;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(0,0,0,1.0);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 645px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 1086px;
  width: 260px;
}
.home .buy-build-i381033872-iPe1yZ {
  --anima-z-index: 3;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 514px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 120px;
  width: 142px;
}
.home .coin-gecko-449-C61RwL {
  --anima-z-index: 5;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(0,0,0,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 755px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 1333px;
  width: 50px;
}
.home .documentat--i37292386-Ebfosa {
  --anima-z-index: 4;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1060px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 29px;
  width: auto;
}
.home .ellipse-2-C61RwL {
  --anima-z-index: 12;
  background-color: transparent;
  background-image: url(../img/ellipse-2@2x.svg);
  background-size: 100% 100%;
  height: 135px;
  left: 260px;
  opacity: 1;
  position: absolute;
  top: 1099px;
  width: 135px;
}
.home .ellipse-3-C61RwL {
  --anima-z-index: 16;
  background-color: transparent;
  background-image: url(../img/ellipse-5@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 260px;
  opacity: 1;
  position: absolute;
  top: 1252px;
  width: 135px;
}
.home .ellipse-4-C61RwL {
  --anima-z-index: 15;
  background-color: transparent;
  background-image: url(../img/ellipse-5@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 260px;
  opacity: 1;
  position: absolute;
  top: 1262px;
  width: 135px;
}
.home .ellipse-5-C61RwL {
  --anima-z-index: 11;
  background-color: transparent;
  background-image: url(../img/ellipse-5@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 260px;
  opacity: 1;
  position: absolute;
  top: 1282px;
  width: 135px;
}
.home .ellipse-6-C61RwL {
  --anima-z-index: 14;
  background-color: transparent;
  background-image: url(../img/ellipse-5@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 260px;
  opacity: 1;
  position: absolute;
  top: 1272px;
  width: 135px;
}
.home .ellipse-7-C61RwL {
  --anima-z-index: 20;
  background-color: transparent;
  background-image: url(../img/ellipse-7@2x.svg);
  background-size: 100% 100%;
  height: 10px;
  left: 1075px;
  opacity: 1;
  position: absolute;
  top: 1764px;
  width: 10px;
}
.home .ellipse-8-C61RwL {
  --anima-z-index: 21;
  background-color: transparent;
  background-image: url(../img/ellipse-8@2x.svg);
  background-size: 100% 100%;
  height: 10px;
  left: 1091px;
  opacity: 1;
  position: absolute;
  top: 1779px;
  width: 10px;
}
.home .etherscan-4410-C61RwL {
  --anima-z-index: 7;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(0,0,0,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 875px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 1332px;
  width: 47px;
}
.home .footer-C61RwL {
  --anima-z-index: 28;
  background-color: transparent;
  height: 207px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 2055px;
  width: 1440px;
}
.home .frame-1-C61RwL {
  --anima-z-index: 19;
  background-color: rgba(0,0,0,1.0);
  height: 33px;
  left: 673px;
  opacity: 1;
  position: absolute;
  top: 1637px;
  width: 115px;
}
.home .frame-2-C61RwL {
  --anima-z-index: 4;
  background-color: rgba(9,9,9,1.0);
  height: 33px;
  left: 1009px;
  opacity: 1;
  position: absolute;
  top: 1077px;
  width: 115px;
}
.home .get-in-tou--i37292387-Ebfosa {
  --anima-z-index: 5;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1226px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 29px;
  width: auto;
}
.home .get-in-tou--i38103979-iPe1yZ {
  --anima-z-index: 7;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 243px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 120px;
  width: 142px;
}
.home .get-in-tou-i381033871-iPe1yZ {
  --anima-z-index: 2;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 243px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 120px;
  width: 142px;
}
.home .governance-37125-C61RwL {
  --anima-z-index: 18;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(0,0,0,1.0);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 309px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 1646px;
  width: 260px;
}
.home .governance-i381033874-iPe1yZ {
  --anima-z-index: 5;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1056px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 120px;
  width: 142px;
}
.home .image-1-Ebfosa {
  --anima-z-index: 7;
  background-color: transparent;
  background-image: url(../img/image-1@2x.jpg);
  background-size: 100% 100%;
  height: 64px;
  left: 44px;
  opacity: 1;
  position: absolute;
  top: 10px;
  width: 276px;
}
.home .image-12-iPe1yZ {
  --anima-z-index: 11;
  background-color: transparent;
  background-image: url(../img/image-12@2x.jpg);
  background-size: 100% 100%;
  height: 27px;
  left: 243px;
  opacity: 1;
  position: absolute;
  top: 183px;
  width: 27px;
}
.home .image-13-iPe1yZ {
  --anima-z-index: 12;
  background-color: transparent;
  background-image: url(../img/image-13@2x.jpg);
  background-size: 100% 100%;
  height: 29px;
  left: 277px;
  opacity: 1;
  position: absolute;
  top: 182px;
  width: 29px;
}
.home .image-14-iPe1yZ {
  --anima-z-index: 13;
  background-color: transparent;
  background-image: url(../img/image-14@2x.jpg);
  background-size: 100% 100%;
  height: 27px;
  left: 313px;
  opacity: 1;
  position: absolute;
  top: 183px;
  width: 26px;
}
.home .image-15-iPe1yZ {
  --anima-z-index: 14;
  background-color: transparent;
  background-image: url(../img/image-15@2x.jpg);
  background-size: 100% 100%;
  height: 24px;
  left: 316px;
  opacity: 1;
  position: absolute;
  top: 153px;
  width: 24px;
}
.home .image-6-iPe1yZ {
  --anima-z-index: 8;
  background-color: transparent;
  background-image: url(../img/image-6@2x.png);
  background-size: 100% 100%;
  height: 19px;
  left: 353px;
  opacity: 1;
  position: absolute;
  top: 155px;
  width: 20px;
}
.home .image-7-iPe1yZ {
  --anima-z-index: 9;
  background-color: transparent;
  background-image: url(../img/image-7@2x.jpg);
  background-size: 100% 100%;
  height: 20px;
  left: 283px;
  opacity: 1;
  position: absolute;
  top: 155px;
  width: 20px;
}
.home .image-8-iPe1yZ {
  --anima-z-index: 10;
  background-color: transparent;
  background-image: url(../img/image-8@2x.png);
  background-size: 100% 100%;
  height: 26px;
  left: 243px;
  opacity: 1;
  position: absolute;
  top: 152px;
  width: 27px;
}
.home .line-1-Ebfosa {
  --anima-z-index: 1;
  background-color: transparent;
  background-image: url(../img/line-4@1x.svg);
  background-size: 100% 100%;
  height: 0px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 86px;
  width: 1440px;
}
.home .line-2-Ebfosa {
  --anima-z-index: 2;
  background-color: transparent;
  background-image: url(../img/line-2@2x.svg);
  background-size: 100% 100%;
  height: 0px;
  left: 781px;
  opacity: 1;
  position: absolute;
  top: 43px;
  width: 86px;
}
.home .line-3-C61RwL {
  --anima-z-index: 22;
  background-color: transparent;
  background-image: url(../img/line-3@2x.svg);
  background-size: 100% 100%;
  height: 0px;
  left: 1014px;
  opacity: 1;
  position: absolute;
  top: 1828px;
  width: 135px;
}
.home .line-4-iPe1yZ {
  --anima-z-index: 0;
  background-color: transparent;
  background-image: url(../img/line-4@1x.svg);
  background-size: 100% 100%;
  height: 0px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 20px;
  width: 1440px;
}
.home .nav-C61RwL {
  --anima-z-index: 29;
  background-color: transparent;
  height: 86px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.home .products-i37292385-Ebfosa {
  --anima-z-index: 3;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 936px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 29px;
  width: auto;
}
.home .rectangle-1-Ebfosa {
  --anima-z-index: 0;
  background-color: rgba(0,0,0,1.0);
  height: 86px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.home .rectangle-2-C61RwL {
  --anima-z-index: 0;
  background-color: rgba(246,246,246,1.0);
  height: 1164px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 911px;
  width: 1440px;
}
.home .rectangle-3-C61RwL {
  --anima-z-index: 1;
  background-color: rgba(255,255,255,1.0);
  border: 3px solid rgba(0,0,0,1.0);
  border-radius: 62px;
  box-shadow: 0px 4px 50px rgba(0,0,0,0.25);;
  height: 348px;
  left: 591px;
  opacity: 1;
  position: absolute;
  top: 1036px;
  width: 588px;
}
.home .rectangle-3-VMr6Om {
  --anima-z-index: 17;
  background-color: rgba(255,255,255,1.0);
  border: 3px solid rgba(0,0,0,1.0);
  border-radius: 62px;
  box-shadow: 0px 4px 50px rgba(0,0,0,0.25);;
  height: 306px;
  left: 260px;
  opacity: 1;
  position: absolute;
  top: 1595px;
  width: 588px;
}
.home .rectangle-5-C61RwL {
  --anima-z-index: 23;
  background-color: transparent;
  background-image: url(../img/rectangle-5@2x.svg);
  background-size: 100% 100%;
  height: 134px;
  left: 1047px;
  opacity: 1;
  position: absolute;
  top: 1694px;
  width: 103px;
}
.home .scroll-down-C61RwL {
  --anima-z-index: 26;
  background-color: transparent;
  background-image: url(../img/scroll-down@2x.svg);
  background-size: 100% 100%;
  height: 0px;
  left: 696px;
  opacity: 1;
  position: absolute;
  top: 838px;
  width: 47px;
}
.home .small-piece-1-iPe1yZ {
  --anima-z-index: 1;
  background-color: transparent;
  background-image: url(../img/small-piece-1@2x.png);
  background-size: 100% 100%;
  height: 78px;
  left: 694px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 52px;
}
.home .span1-ynMSFp {
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
}
.home .span2-ynMSFp {
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
}
.home .span3-ynMSFp {
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
}
.home .stake-37115-gUEd1c {
  --anima-z-index: 0;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 7px;
  width: auto;
}
.home .stake-buil-i381033873-iPe1yZ {
  --anima-z-index: 4;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 785px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 120px;
  width: 142px;
}
.home .uniswap-4411-C61RwL {
  --anima-z-index: 9;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(0,0,0,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 994px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 1331px;
  width: 41px;
}
.home .vote-37128-WzCX2w {
  --anima-z-index: 0;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 7px;
  width: auto;
}
.home .x-currently-soon-37126-C61RwL {
  --anima-z-index: 24;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(28,28,28,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: 176px;
  left: 309px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 1;
  position: absolute;
  text-align: justify;
  top: 1670px;
  width: 481px;
}
.home .x256x256-bl-02-layer-1-C61RwL {
  --anima-z-index: 10;
  background-color: transparent;
  background-image: url(../img/256x256-black-1-0002-layer-1@2x.png);
  background-size: 100% 100%;
  height: 24px;
  left: 966px;
  opacity: 1;
  position: absolute;
  top: 1324px;
  width: 21px;
}
.home .x256x256-bl-gecko-logo-C61RwL {
  --anima-z-index: 6;
  background-color: transparent;
  background-image: url(../img/256x256-black-1-0000-coingecko-logo@2x.png);
  background-size: 100% 100%;
  height: 20px;
  left: 730px;
  opacity: 1;
  position: absolute;
  top: 1328px;
  width: 20px;
}
.home .x256x256-bl-ogo-circle-C61RwL {
  --anima-z-index: 8;
  background-color: transparent;
  background-image: url(../img/256x256-black-1-0001-etherscan-logo-circle@2x.png);
  background-size: 100% 100%;
  height: 18px;
  left: 849px;
  opacity: 1;
  position: absolute;
  top: 1328px;
  width: 18px;
}
/* screen - products */

.products {
  background-color: rgba(0,0,0,1.0);
  height: 1203px;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 1440px;
}
.products .arrow-1-iPe1yZ {
  --anima-z-index: 6;
  background-color: transparent;
  background-image: url(../img/arrow-1@2x.svg);
  background-size: 100% 100%;
  height: 0px;
  left: 352px;
  opacity: 1;
  position: absolute;
  top: 130px;
  width: 9px;
}
.products .arrow-2-Ebfosa {
  --anima-z-index: 6;
  background-color: transparent;
  background-image: url(../img/arrow-2@2x.svg);
  background-size: 100% 100%;
  height: 0px;
  left: 1181px;
  opacity: 1;
  position: absolute;
  top: 41px;
  width: 12px;
}
.products .bgold-92242-C61RwL {
  --anima-z-index: 26;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 824px;
  letter-spacing: 3.22px;
  opacity: 1;
  position: absolute;
  text-align: right;
  top: 431px;
  width: 212px;
}
.products .binary-options-95177-C61RwL {
  --anima-z-index: 22;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 423px;
  letter-spacing: 2.64px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 682px;
  width: 212px;
}
.products .build-dao--ation-5917-C61RwL {
  --anima-z-index: 32;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: "Karla", Helvetica, Arial, serif;
  font-size: 24px;
  height: auto;
  left: 142px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 194px;
  width: 665px;
}
.products .build-fina-munity-831-C61RwL {
  --anima-z-index: 33;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: "Epilogue", Helvetica, Arial, serif;
  font-size: 16px;
  height: auto;
  left: 142px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 274px;
  width: 1074px;
}
.products .build-prod-0-invert-1-C61RwL {
  --anima-z-index: 21;
  background-color: transparent;
  background-image: url(../img/build-products-constellation-0010-invert-1@2x.png);
  background-size: 100% 100%;
  height: 67px;
  left: 339px;
  opacity: 1;
  position: absolute;
  top: 644px;
  width: 67px;
}
.products .build-prod-e-1-copy-2-C61RwL {
  --anima-z-index: 6;
  background-color: transparent;
  background-image: url(../img/build-products-constellation-0000s-0000-rectangle-1-copy-2@2x.png);
  background-size: 100% 100%;
  height: 133px;
  left: 718px;
  opacity: 1;
  position: absolute;
  top: 562px;
  width: 303px;
}
.products .build-prod-e-1-copy-2-VMr6Om {
  --anima-z-index: 7;
  background-color: transparent;
  background-image: url(../img/build-products-constellation-0000s-0001-rectangle-1-copy-2@2x.png);
  background-size: 100% 100%;
  height: 112px;
  left: 425px;
  opacity: 1;
  position: absolute;
  top: 562px;
  width: 274px;
}
.products .build-prod-ectangle-1-C61RwL {
  --anima-z-index: 9;
  background-color: transparent;
  background-image: url(../img/build-products-constellation-0000s-0003-rectangle-1@2x.png);
  background-size: 100% 100%;
  height: 112px;
  left: 718px;
  opacity: 1;
  position: absolute;
  top: 459px;
  width: 318px;
}
.products .build-prod-ellation-1-C61RwL {
  --anima-z-index: 5;
  background-color: transparent;
  background-image: url(../img/build-products-constellation-0016-build-lego-constellation-1@2x.png);
  background-size: 100% 100%;
  height: 79px;
  left: 643px;
  opacity: 1;
  position: absolute;
  top: 519px;
  width: 145px;
}
.products .build-prod-etric-logo-C61RwL {
  --anima-z-index: 17;
  background-color: transparent;
  background-image: url(../img/build-products-constellation-0014-metric-logo@2x.png);
  background-size: 100% 100%;
  height: 63px;
  left: 344px;
  opacity: 1;
  position: absolute;
  top: 445px;
  width: 63px;
}
.products .build-prod-gle-1-copy-C61RwL {
  --anima-z-index: 8;
  background-color: transparent;
  background-image: url(../img/build-products-constellation-0000s-0002-rectangle-1-copy@2x.png);
  background-size: 100% 100%;
  height: 84px;
  left: 423px;
  opacity: 1;
  position: absolute;
  top: 487px;
  width: 278px;
}
.products .build-prod-llipse-1-1-C61RwL {
  --anima-z-index: 4;
  background-color: transparent;
  background-image: url(../img/build-products-constellation-0015-ellipse-1-1@1x.png);
  background-size: 100% 100%;
  height: 374px;
  left: 275px;
  opacity: 1;
  position: absolute;
  top: 396px;
  width: 879px;
}
.products .build-prod-old-symbol-C61RwL {
  --anima-z-index: 25;
  background-color: transparent;
  background-image: url(../img/build-products-constellation-0001-bgold-symbol@2x.png);
  background-size: 100% 100%;
  height: 41px;
  left: 1075px;
  opacity: 1;
  position: absolute;
  top: 436px;
  width: 23px;
}
.products .button-normal-Hj0Fl1 {
  --anima-z-index: 4;
  background-color: rgba(1,1,1,1.0);
  height: 33px;
  left: 40px;
  opacity: 1;
  position: absolute;
  top: 145px;
  width: 196px;
}
.products .buy-build-i44173872-iPe1yZ {
  --anima-z-index: 3;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 514px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 120px;
  width: 142px;
}
.products .click-on-a-plore-5918-C61RwL {
  --anima-z-index: 29;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 339px;
  width: 222px;
}
.products .dex-agg-li-ders-92236-C61RwL {
  --anima-z-index: 19;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 424px;
  letter-spacing: 2.64px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 498px;
  width: 212px;
}
.products .dex-aggreg-r-i6121613-Hj0Fl1 {
  --anima-z-index: 3;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(28,28,28,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 78px;
  width: 219px;
}
.products .documentat-n-i4416386-Ebfosa {
  --anima-z-index: 4;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1060px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 29px;
  width: auto;
}
.products .ellipse-10-Hj0Fl1 {
  --anima-z-index: 1;
  background-color: transparent;
  background-image: url(../img/ellipse-10@2x.svg);
  background-size: 100% 100%;
  height: 12px;
  left: 40px;
  opacity: 1;
  position: absolute;
  top: 26px;
  width: 12px;
}
.products .ellipse-11-C61RwL {
  --anima-z-index: 16;
  background-color: transparent;
  background-image: url(../img/ellipse-11@2x.svg);
  background-size: 100% 100%;
  height: 65px;
  left: 343px;
  opacity: 1;
  position: absolute;
  top: 444px;
  width: 65px;
}
.products .ellipse-12-C61RwL {
  --anima-z-index: 20;
  background-color: transparent;
  background-image: url(../img/ellipse-14@2x.svg);
  background-size: 100% 100%;
  height: 65px;
  left: 340px;
  opacity: 1;
  position: absolute;
  top: 645px;
  width: 65px;
}
.products .ellipse-13-C61RwL {
  --anima-z-index: 24;
  background-color: transparent;
  background-image: url(../img/ellipse-14@2x.svg);
  background-size: 100% 100%;
  height: 65px;
  left: 1053px;
  opacity: 1;
  position: absolute;
  top: 424px;
  width: 65px;
}
.products .ellipse-14-C61RwL {
  --anima-z-index: 10;
  background-color: transparent;
  background-image: url(../img/ellipse-14@2x.svg);
  background-size: 100% 100%;
  height: 65px;
  left: 684px;
  opacity: 1;
  position: absolute;
  top: 741px;
  width: 65px;
}
.products .ellipse-9-C61RwL {
  --anima-z-index: 30;
  background-color: transparent;
  background-image: url(../img/ellipse-9@2x.svg);
  background-size: 100% 100%;
  height: 9px;
  left: 142px;
  opacity: 1;
  position: absolute;
  top: 344px;
  width: 9px;
}
.products .explore-products-C61RwL {
  --anima-z-index: 28;
  background-color: transparent;
  height: 203px;
  left: 1030px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  top: 639px;
  width: 297px;
}
.products .explore-skinVV {
  --anima-z-index: 0;
  background-color: rgba(255,255,255,1.0);
  border: 3px solid rgba(0,0,0,1.0);
  border-radius: 62px;
  height: 203px;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 297px;
}
.products .footer-C61RwL {
  --anima-z-index: 1;
  background-color: transparent;
  height: 207px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 950px;
  width: 1440px;
}
.products .get-in-tou--i44173871-iPe1yZ {
  --anima-z-index: 2;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 243px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 120px;
  width: 142px;
}
.products .get-in-tou-h-i4416387-Ebfosa {
  --anima-z-index: 5;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1226px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 29px;
  width: auto;
}
.products .get-in-tou-h-i4417979-iPe1yZ {
  --anima-z-index: 7;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 243px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 120px;
  width: 142px;
}
.products .gold-pegge-coin-92243-C61RwL {
  --anima-z-index: 27;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 824px;
  letter-spacing: 2.64px;
  opacity: 1;
  position: absolute;
  text-align: right;
  top: 469px;
  width: 212px;
}
.products .governance--i44173874-iPe1yZ {
  --anima-z-index: 5;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1056px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 120px;
  width: 142px;
}
.products .hype-protocol-92240-C61RwL {
  --anima-z-index: 15;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 807px;
  letter-spacing: 3.22px;
  opacity: 1;
  position: absolute;
  text-align: right;
  top: 671px;
  width: 212px;
}
.products .i-602-C61RwL {
  --anima-z-index: 31;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(0,0,0,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 9px;
  font-style: normal;
  font-weight: 800;
  height: auto;
  left: 145px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 344px;
  width: 5px;
}
.products .image-1-Ebfosa {
  --anima-z-index: 7;
  background-color: transparent;
  background-image: url(../img/image-1@2x.jpg);
  background-size: 100% 100%;
  height: 64px;
  left: 44px;
  opacity: 1;
  position: absolute;
  top: 10px;
  width: 276px;
}
.products .image-12-iPe1yZ {
  --anima-z-index: 11;
  background-color: transparent;
  background-image: url(../img/image-12@2x.jpg);
  background-size: 100% 100%;
  height: 27px;
  left: 243px;
  opacity: 1;
  position: absolute;
  top: 183px;
  width: 27px;
}
.products .image-13-iPe1yZ {
  --anima-z-index: 12;
  background-color: transparent;
  background-image: url(../img/image-13@2x.jpg);
  background-size: 100% 100%;
  height: 29px;
  left: 277px;
  opacity: 1;
  position: absolute;
  top: 182px;
  width: 29px;
}
.products .image-14-iPe1yZ {
  --anima-z-index: 13;
  background-color: transparent;
  background-image: url(../img/image-14@2x.jpg);
  background-size: 100% 100%;
  height: 27px;
  left: 313px;
  opacity: 1;
  position: absolute;
  top: 183px;
  width: 26px;
}
.products .image-15-iPe1yZ {
  --anima-z-index: 14;
  background-color: transparent;
  background-image: url(../img/image-15@2x.jpg);
  background-size: 100% 100%;
  height: 24px;
  left: 316px;
  opacity: 1;
  position: absolute;
  top: 153px;
  width: 24px;
}
.products .image-4-C61RwL {
  --anima-z-index: 11;
  background-color: transparent;
  background-image: url(../img/image-4@2x.jpg);
  background-size: 100% 100%;
  height: 43px;
  left: 694px;
  opacity: 1;
  position: absolute;
  top: 753px;
  width: 44px;
}
.products .image-6-iPe1yZ {
  --anima-z-index: 8;
  background-color: transparent;
  background-image: url(../img/image-6@2x.png);
  background-size: 100% 100%;
  height: 19px;
  left: 353px;
  opacity: 1;
  position: absolute;
  top: 155px;
  width: 20px;
}
.products .image-7-iPe1yZ {
  --anima-z-index: 9;
  background-color: transparent;
  background-image: url(../img/image-7@2x.jpg);
  background-size: 100% 100%;
  height: 20px;
  left: 283px;
  opacity: 1;
  position: absolute;
  top: 155px;
  width: 20px;
}
.products .image-8-iPe1yZ {
  --anima-z-index: 10;
  background-color: transparent;
  background-image: url(../img/image-8@2x.png);
  background-size: 100% 100%;
  height: 26px;
  left: 243px;
  opacity: 1;
  position: absolute;
  top: 152px;
  width: 27px;
}
.products .line-1-Ebfosa {
  --anima-z-index: 1;
  background-color: transparent;
  background-image: url(../img/line-4@1x.svg);
  background-size: 100% 100%;
  height: 0px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 86px;
  width: 1440px;
}
.products .line-2-Ebfosa {
  --anima-z-index: 2;
  background-color: transparent;
  background-image: url(../img/line-2@2x.svg);
  background-size: 100% 100%;
  height: 0px;
  left: 781px;
  opacity: 1;
  position: absolute;
  top: 43px;
  width: 86px;
}
.products .line-4-iPe1yZ {
  --anima-z-index: 0;
  background-color: transparent;
  background-image: url(../img/line-4@1x.svg);
  background-size: 100% 100%;
  height: 0px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 20px;
  width: 1440px;
}
.products .line-5-C61RwL {
  --anima-z-index: 2;
  background-color: transparent;
  background-image: url(../img/line-5@2x.svg);
  background-size: 100% 100%;
  height: 0px;
  left: 634px;
  opacity: 1;
  position: absolute;
  top: 668px;
  width: 164px;
}
.products .line-6-C61RwL {
  --anima-z-index: 3;
  background-color: transparent;
  background-image: url(../img/line-6@2x.svg);
  background-size: 100% 100%;
  height: 0px;
  left: 648px;
  opacity: 1;
  position: absolute;
  top: 849px;
  width: 140px;
}
.products .liquidity--king-95178-C61RwL {
  --anima-z-index: 14;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 824px;
  letter-spacing: 2.64px;
  opacity: 1;
  position: absolute;
  text-align: right;
  top: 701px;
  width: 195px;
}
.products .live-i6121618-Hj0Fl1 {
  --anima-z-index: 0;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(0,0,0,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  height: auto;
  left: 57px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 24px;
  width: auto;
}
.products .metric-exc-ange-92227-C61RwL {
  --anima-z-index: 18;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 424px;
  letter-spacing: 3.22px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 461px;
  width: 212px;
}
.products .metric-i6121612-Hj0Fl1 {
  --anima-z-index: 2;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(0,0,0,1.0);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 49px;
  width: auto;
}
.products .money-market-962-C61RwL {
  --anima-z-index: 12;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 611px;
  letter-spacing: 2.64px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 854px;
  width: 212px;
}
.products .nav-C61RwL {
  --anima-z-index: 0;
  background-color: transparent;
  height: 86px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.products .products-i4416385-Ebfosa {
  --anima-z-index: 3;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 936px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 29px;
  width: auto;
}
.products .rectangle-1-Ebfosa {
  --anima-z-index: 0;
  background-color: rgba(0,0,0,1.0);
  height: 86px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.products .small-piece-1-iPe1yZ {
  --anima-z-index: 1;
  background-color: transparent;
  background-image: url(../img/small-piece-1@2x.png);
  background-size: 100% 100%;
  height: 78px;
  left: 694px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 52px;
}
.products .span1-H7zz3N {
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 500;
}
.products .span1-zttURh {
  font-family: 'Karla', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
}
.products .span2-H7zz3N {
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
}
.products .span2-zttURh {
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
}
.products .span3-H7zz3N {
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 500;
}
.products .stake-buil--i44173873-iPe1yZ {
  --anima-z-index: 4;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 785px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 120px;
  width: 142px;
}
.products .updown-finance-92238-C61RwL {
  --anima-z-index: 23;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 424px;
  letter-spacing: 3.22px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 646px;
  width: 212px;
}
.products .vortex-961-C61RwL {
  --anima-z-index: 13;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 611px;
  letter-spacing: 3.22px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 825px;
  width: 212px;
}
.products .vote-i6121441838139-HIh2gi {
  --anima-z-index: 0;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  height: auto;
  left: 38px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 7px;
  width: auto;
}