/* screen - home */

.border-class-1 {
  border: 1px solid transparent;
}
.border-class-2 {
  border: 3px solid var(--black);
}
.epilogue-bold-black-20px {
  color: var(--black);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.home {
  background-color: rgba(0,0,0,1.0);
  height: 2309px;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 1440px;
}
.home .arrow-1-iPe1yZ {
  --anima-z-index: 6;
  background-color: transparent;
  background-image: url(../img/arrow-1@2x.svg);
  background-size: 100% 100%;
  height: 9px;
  left: 347px;
  opacity: 1;
  position: absolute;
  top: 125px;
  width: 1px;
}
.home .arrow-2-Ebfosa {
  --anima-z-index: 5;
  background-color: transparent;
  background-image: url(../img/arrow-2@2x.svg);
  background-size: 100% 100%;
  height: 9px;
  left: 1183px;
  opacity: 1;
  position: absolute;
  top: 36px;
  width: 8px;
}
.home .build-fina-nity-38147-C61RwL {
  --anima-z-index: 21;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: "Epilogue", Helvetica, Arial, serif;
  font-size: 56px;
  height: auto;
  left: 140px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 430px;
  width: 615px;
}
.home .build-fram--legos-2-1-C61RwL {
  --anima-z-index: 23;
  background-color: transparent;
  background-image: url(../img/build-framework-legos-2-1@1x.png);
  background-size: 100% 100%;
  height: 537px;
  left: 866px;
  opacity: 1;
  position: absolute;
  top: 205px;
  width: 407px;
}
.home .build-symbolsmall-1-C61RwL {
  --anima-z-index: 9;
  background-color: transparent;
  background-image: url(../img/build-symbol-small-1@2x.png);
  background-size: 100% 100%;
  height: 49px;
  left: 302px;
  opacity: 1;
  position: absolute;
  top: 1142px;
  width: 50px;
}
.home .build-toke-pair-37113-C61RwL {
  --anima-z-index: 2;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(28,28,28,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 645px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 1139px;
  width: 481px;
}
.home .build-token-37112-C61RwL {
  --anima-z-index: 1;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(0,0,0,1.0);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 645px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 1086px;
  width: 260px;
}
.home .buy-build-i381033872-iPe1yZ {
  --anima-z-index: 3;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 514px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 120px;
  width: 142px;
}
.home .coin-gecko-449-hvAGCq {
  --anima-z-index: 0;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(0,0,0,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 5px;
  width: 50px;
}
.home .documentat--i37292386-Ebfosa {
  --anima-z-index: 3;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1060px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 29px;
  width: auto;
}
.home .ellipse-2-C61RwL {
  --anima-z-index: 8;
  background-color: transparent;
  background-image: url(../img/ellipse-2@2x.svg);
  background-size: 100% 100%;
  height: 135px;
  left: 260px;
  opacity: 1;
  position: absolute;
  top: 1099px;
  width: 135px;
}
.home .ellipse-3-C61RwL {
  --anima-z-index: 12;
  background-color: transparent;
  background-image: url(../img/ellipse-5@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 260px;
  opacity: 1;
  position: absolute;
  top: 1252px;
  width: 135px;
}
.home .ellipse-4-C61RwL {
  --anima-z-index: 11;
  background-color: transparent;
  background-image: url(../img/ellipse-5@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 260px;
  opacity: 1;
  position: absolute;
  top: 1262px;
  width: 135px;
}
.home .ellipse-5-C61RwL {
  --anima-z-index: 7;
  background-color: transparent;
  background-image: url(../img/ellipse-5@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 260px;
  opacity: 1;
  position: absolute;
  top: 1282px;
  width: 135px;
}
.home .ellipse-6-C61RwL {
  --anima-z-index: 10;
  background-color: transparent;
  background-image: url(../img/ellipse-5@2x.svg);
  background-size: 100% 100%;
  height: 40px;
  left: 260px;
  opacity: 1;
  position: absolute;
  top: 1272px;
  width: 135px;
}
.home .ellipse-7-C61RwL {
  --anima-z-index: 16;
  background-color: transparent;
  background-image: url(../img/ellipse-7@2x.svg);
  background-size: 100% 100%;
  height: 10px;
  left: 1075px;
  opacity: 1;
  position: absolute;
  top: 1764px;
  width: 10px;
}
.home .ellipse-8-C61RwL {
  --anima-z-index: 17;
  background-color: transparent;
  background-image: url(../img/ellipse-8@2x.svg);
  background-size: 100% 100%;
  height: 10px;
  left: 1091px;
  opacity: 1;
  position: absolute;
  top: 1779px;
  width: 10px;
}
.home .etherscan-4410-zUixHA {
  --anima-z-index: 0;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(0,0,0,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 4px;
  width: 47px;
}
.home .footer-C61RwL {
  --anima-z-index: 24;
  background-color: transparent;
  height: 207px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 2055px;
  width: 1440px;
}
.home .frame-1-C61RwL {
  --anima-z-index: 15;
  background-color: rgba(0,0,0,1.0);
  height: 33px;
  left: 673px;
  opacity: 1;
  pointer-events: auto;
  position: absolute;
  top: 1637px;
  transition: all 0.2s ease;
  width: 115px;
}
.home .frame-1-C61RwL:hover {

transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.home .frame-2-C61RwL {
  --anima-z-index: 3;
  background-color: rgba(9,9,9,1.0);
  height: 33px;
  left: 1009px;
  opacity: 1;
  pointer-events: auto;
  position: absolute;
  top: 1077px;
  transition: all 0.2s ease;
  width: 115px;
}
.home .frame-2-C61RwL:hover {

transform: translate(0, -5px);
box-shadow: 0px 12px 5px -8px rgba(0,0,0,0.2);
}
.home .get-in-tou--i37292387-Ebfosa {
  --anima-z-index: 4;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1226px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 29px;
  width: auto;
}
.home .get-in-tou--i38103979-iPe1yZ {
  --anima-z-index: 7;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 243px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 120px;
  width: 142px;
}
.home .get-in-tou-i381033871-iPe1yZ {
  --anima-z-index: 2;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 243px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 120px;
  width: 142px;
}
.home .governance-37125-C61RwL {
  --anima-z-index: 14;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(0,0,0,1.0);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 309px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 1646px;
  width: 260px;
}
.home .governance-i381033874-iPe1yZ {
  --anima-z-index: 5;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1056px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 120px;
  width: 142px;
}
.home .group-2-C61RwL {
  --anima-z-index: 5;
  background-color: transparent;
  height: 18px;
  left: 849px;
  opacity: 1;
  position: absolute;
  top: 1328px;
  width: 73px;
}
.home .group-3-C61RwL {
  --anima-z-index: 4;
  background-color: transparent;
  height: 19px;
  left: 730px;
  opacity: 1;
  position: absolute;
  top: 1328px;
  width: 75px;
}
.home .group-4-C61RwL {
  --anima-z-index: 6;
  background-color: transparent;
  height: 23px;
  left: 966px;
  opacity: 1;
  position: absolute;
  top: 1324px;
  width: 70px;
}
.home .image-1-Ebfosa {
  --anima-z-index: 6;
  background-color: transparent;
  background-image: url(../img/image-1@2x.jpg);
  background-size: 100% 100%;
  height: 64px;
  left: 44px;
  opacity: 1;
  position: absolute;
  top: 10px;
  width: 276px;
}
.home .image-12-iPe1yZ {
  --anima-z-index: 11;
  background-color: transparent;
  background-image: url(../img/image-12@2x.jpg);
  background-size: 100% 100%;
  height: 27px;
  left: 243px;
  opacity: 1;
  position: absolute;
  top: 183px;
  width: 27px;
}
.home .image-13-iPe1yZ {
  --anima-z-index: 12;
  background-color: transparent;
  background-image: url(../img/image-13@2x.jpg);
  background-size: 100% 100%;
  height: 29px;
  left: 277px;
  opacity: 1;
  position: absolute;
  top: 182px;
  width: 29px;
}
.home .image-14-iPe1yZ {
  --anima-z-index: 13;
  background-color: transparent;
  background-image: url(../img/image-14@2x.jpg);
  background-size: 100% 100%;
  height: 27px;
  left: 313px;
  opacity: 1;
  position: absolute;
  top: 183px;
  width: 26px;
}
.home .image-15-iPe1yZ {
  --anima-z-index: 14;
  background-color: transparent;
  background-image: url(../img/image-15@2x.jpg);
  background-size: 100% 100%;
  height: 24px;
  left: 316px;
  opacity: 1;
  position: absolute;
  top: 153px;
  width: 24px;
}
.home .image-6-iPe1yZ {
  --anima-z-index: 8;
  background-color: transparent;
  background-image: url(../img/image-6@2x.png);
  background-size: 100% 100%;
  height: 19px;
  left: 353px;
  opacity: 1;
  position: absolute;
  top: 155px;
  width: 20px;
}
.home .image-7-iPe1yZ {
  --anima-z-index: 9;
  background-color: transparent;
  background-image: url(../img/image-7@2x.jpg);
  background-size: 100% 100%;
  height: 20px;
  left: 283px;
  opacity: 1;
  position: absolute;
  top: 155px;
  width: 20px;
}
.home .image-8-iPe1yZ {
  --anima-z-index: 10;
  background-color: transparent;
  background-image: url(../img/image-8@2x.png);
  background-size: 100% 100%;
  height: 26px;
  left: 243px;
  opacity: 1;
  position: absolute;
  top: 152px;
  width: 27px;
}
.home .nav-C61RwL {
  --anima-z-index: 25;
  background-color: transparent;
  height: 86px;
  left: 0px;
  opacity: 1;
  position: fixed;
  top: 0px;
  width: 1440px;
}
.home .products-i37292385-Ebfosa {
  --anima-z-index: 2;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 936px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 29px;
  width: auto;
}
.home .rectangle-1-Ebfosa {
  --anima-z-index: 0;
  background-color: rgba(0,0,0,1.0);
  border: 1px solid rgba(255,255,255,1.0);
  height: 86px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.home .rectangle-2-Ebfosa {
  --anima-z-index: 1;
  background-color: rgba(0,0,0,1.0);
  border: 1px solid rgba(255,255,255,1.0);
  height: 86px;
  left: 824px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 616px;
}
.home .rectangle-3-C61RwL {
  --anima-z-index: 0;
  background-color: rgba(255,255,255,1.0);
  border: 3px solid rgba(0,0,0,1.0);
  border-radius: 62px;
  box-shadow: 0px 4px 50px rgba(0,0,0,0.25);;
  height: 348px;
  left: 591px;
  opacity: 1;
  position: absolute;
  top: 1036px;
  width: 588px;
}
.home .rectangle-3-VMr6Om {
  --anima-z-index: 13;
  background-color: rgba(255,255,255,1.0);
  border: 3px solid rgba(0,0,0,1.0);
  border-radius: 62px;
  box-shadow: 0px 4px 50px rgba(0,0,0,0.25);;
  height: 306px;
  left: 260px;
  opacity: 1;
  position: absolute;
  top: 1595px;
  width: 588px;
}
.home .rectangle-5-C61RwL {
  --anima-z-index: 19;
  background-color: transparent;
  background-image: url(../img/rectangle-5@2x.svg);
  background-size: 100% 100%;
  height: 134px;
  left: 1047px;
  opacity: 1;
  position: absolute;
  top: 1693px;
  width: 103px;
}
.home .rectangle-6-iPe1yZ {
  --anima-z-index: 0;
  background-color: transparent;
  border: 1px solid rgba(255,255,255,1.0);
  height: 239px;
  left: -1px;
  opacity: 1;
  position: absolute;
  top: 19px;
  width: 1442px;
}
.home .rectangle-7-C61RwL {
  --anima-z-index: 18;
  background-color: rgba(255,255,255,1.0);
  height: 2px;
  left: 1014px;
  opacity: 1;
  position: absolute;
  top: 1826px;
  width: 135px;
}
.home .scroll-down-C61RwL {
  --anima-z-index: 22;
  background-color: transparent;
  background-image: url(../img/scroll-down@2x.svg);
  background-size: 100% 100%;
  height: 0px;
  left: 696px;
  opacity: 1;
  position: absolute;
  top: 838px;
  width: 47px;
}
.home .small-piece-1-iPe1yZ {
  --anima-z-index: 1;
  background-color: transparent;
  background-image: url(../img/small-piece-1@2x.png);
  background-size: 100% 100%;
  height: 78px;
  left: 694px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 52px;
}
.home .span1-ynMSFp {
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
}
.home .span2-ynMSFp {
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
}
.home .span3-ynMSFp {
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
}
.home .span4-ynMSFp {
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
}
.home .stake-37115-gUEd1c {
  --anima-z-index: 0;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 7px;
  width: auto;
}
.home .stake-buil-i381033873-iPe1yZ {
  --anima-z-index: 4;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 785px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 120px;
  width: 142px;
}
.home .uniswap-4411-KOsP6k {
  --anima-z-index: 0;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(0,0,0,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 7px;
  width: 41px;
}
.home .vote-37128-WzCX2w {
  --anima-z-index: 0;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 7px;
  width: auto;
}
.home .x-currently-soon-37126-C61RwL {
  --anima-z-index: 20;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(28,28,28,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: 176px;
  left: 309px;
  letter-spacing: 0.00px;
  line-height: 27px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 1680px;
  width: 481px;
}
.home .x256x256-bl-02-layer-1-KOsP6k {
  --anima-z-index: 1;
  background-color: transparent;
  background-image: url(../img/256x256-black-1-0002-layer-1@2x.png);
  background-size: 100% 100%;
  height: 24px;
  left: -0px;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 21px;
}
.home .x256x256-bl-gecko-logo-hvAGCq {
  --anima-z-index: 1;
  background-color: transparent;
  background-image: url(../img/256x256-black-1-0000-coingecko-logo@2x.png);
  background-size: 100% 100%;
  height: 20px;
  left: -0px;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 20px;
}
.home .x256x256-bl-ogo-circle-zUixHA {
  --anima-z-index: 1;
  background-color: transparent;
  background-image: url(../img/256x256-black-1-0001-etherscan-logo-circle@2x.png);
  background-size: 100% 100%;
  height: 18px;
  left: -0px;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 18px;
}
.karla-extra-bold-black-14px {
  color: var(--black);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
}
.karla-extra-bold-white-14px {
  color: var(--white);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
}
.karla-light-eerie-black-14px {
  color: var(--eerie-black);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}
:root {
  --black: rgba(0,0,0,1.0);
  --eerie-black: rgba(28,28,28,1.0);
  --mist-gray: rgba(196,196,196,1.0);
  --white: rgba(255,255,255,1.0);
}
/* screen - products */

.border-class-1 {
  border: 1px solid transparent;
}
.border-class-2 {
  border: 3px solid var(--black);
}
.epilogue-bold-black-20px {
  color: var(--black);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.karla-extra-bold-black-14px {
  color: var(--black);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
}
.karla-extra-bold-white-14px {
  color: var(--white);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
}
.karla-light-eerie-black-14px {
  color: var(--eerie-black);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}
.products {
  background-color: rgba(0,0,0,1.0);
  height: 1745px;
  opacity: 1;
  overflow: hidden;
  position: relative;
  width: 1440px;
}
.products .alerts-dis-pools-1609-C61RwL {
  --anima-z-index: 23;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(196,196,196,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 355px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 1;
  position: absolute;
  text-align: justify;
  top: 1262px;
  width: 160px;
}
.products .arrow-1-iPe1yZ {
  --anima-z-index: 6;
  background-color: transparent;
  background-image: url(../img/arrow-1@2x.svg);
  background-size: 100% 100%;
  height: 9px;
  left: 347px;
  opacity: 1;
  position: absolute;
  top: 125px;
  width: 1px;
}
.products .arrow-2-Ebfosa {
  --anima-z-index: 5;
  background-color: transparent;
  background-image: url(../img/arrow-2@2x.svg);
  background-size: 100% 100%;
  height: 9px;
  left: 1183px;
  opacity: 1;
  position: absolute;
  top: 36px;
  width: 8px;
}
.products .b-gold-C61RwL {
  --anima-z-index: 14;
  background-color: transparent;
  height: 74px;
  left: 824px;
  opacity: 1;
  position: absolute;
  top: 487px;
  width: 294px;
}
.products .bgold-92242-LiMbeo {
  --anima-z-index: 2;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 3.22px;
  opacity: 1;
  position: absolute;
  text-align: right;
  top: 7px;
  width: 212px;
}
.products .binary-options-95177-PFs4oT {
  --anima-z-index: 2;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 84px;
  letter-spacing: 2.64px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 38px;
  width: 212px;
}
.products .build-dao--ation-5917-C61RwL {
  --anima-z-index: 18;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: "Karla", Helvetica, Arial, serif;
  font-size: 24px;
  height: auto;
  left: 142px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 194px;
  width: 665px;
}
.products .build-fina-munity-831-C61RwL {
  --anima-z-index: 20;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: "Epilogue", Helvetica, Arial, serif;
  font-size: 16px;
  height: auto;
  left: 142px;
  letter-spacing: 0.00px;
  line-height: 24px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 289px;
  width: 1074px;
}
.products .build-prod-0-invert-1-PFs4oT {
  --anima-z-index: 1;
  background-color: transparent;
  background-image: url(../img/build-products-constellation-0010-invert-1@2x.png);
  background-size: 100% 100%;
  height: 68px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 67px;
}
.products .build-prod-e-1-copy-2-C61RwL {
  --anima-z-index: 6;
  background-color: transparent;
  background-image: url(../img/build-products-constellation-0000s-0000-rectangle-1-copy-2@2x.png);
  background-size: 100% 100%;
  height: 134px;
  left: 718px;
  opacity: 1;
  position: absolute;
  top: 625px;
  width: 303px;
}
.products .build-prod-e-1-copy-2-VMr6Om {
  --anima-z-index: 7;
  background-color: transparent;
  background-image: url(../img/build-products-constellation-0000s-0001-rectangle-1-copy-2@2x.png);
  background-size: 100% 100%;
  height: 112px;
  left: 425px;
  opacity: 1;
  position: absolute;
  top: 625px;
  width: 274px;
}
.products .build-prod-ectangle-1-C61RwL {
  --anima-z-index: 9;
  background-color: transparent;
  background-image: url(../img/build-products-constellation-0000s-0003-rectangle-1@2x.png);
  background-size: 100% 100%;
  height: 112px;
  left: 718px;
  opacity: 1;
  position: absolute;
  top: 522px;
  width: 318px;
}
.products .build-prod-ellation-1-C61RwL {
  --anima-z-index: 5;
  background-color: transparent;
  background-image: url(../img/build-products-constellation-0016-build-lego-constellation-1@2x.png);
  background-size: 100% 100%;
  height: 80px;
  left: 643px;
  opacity: 1;
  position: absolute;
  top: 582px;
  width: 145px;
}
.products .build-prod-etric-logo-0YAJyy {
  --anima-z-index: 1;
  background-color: transparent;
  background-image: url(../img/build-products-constellation-0014-metric-logo@2x.png);
  background-size: 100% 100%;
  height: 64px;
  left: 1px;
  opacity: 1;
  position: absolute;
  top: 1px;
  width: 63px;
}
.products .build-prod-gle-1-copy-C61RwL {
  --anima-z-index: 8;
  background-color: transparent;
  background-image: url(../img/build-products-constellation-0000s-0002-rectangle-1-copy@2x.png);
  background-size: 100% 100%;
  height: 84px;
  left: 423px;
  opacity: 1;
  position: absolute;
  top: 550px;
  width: 278px;
}
.products .build-prod-old-symbol-LiMbeo {
  --anima-z-index: 1;
  background-color: transparent;
  background-image: url(../img/build-products-constellation-0001-bgold-symbol@2x.png);
  background-size: 100% 100%;
  height: 42px;
  left: 251px;
  opacity: 1;
  position: absolute;
  top: 12px;
  width: 23px;
}
.products .buy-build-i44173872-iPe1yZ {
  --anima-z-index: 3;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 514px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 120px;
  width: 142px;
}
.products .by-0xdev-16010-C61RwL {
  --anima-z-index: 24;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(196,196,196,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 356px;
  letter-spacing: 0.00px;
  line-height: 10px;
  opacity: 1;
  position: absolute;
  text-align: justify;
  top: 1231px;
  white-space: nowrap;
  width: 160px;
}
.products .by-0xdev-16020-C61RwL {
  --anima-z-index: 28;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(196,196,196,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 642px;
  letter-spacing: 0.00px;
  line-height: 10px;
  opacity: 1;
  position: absolute;
  text-align: justify;
  top: 1231px;
  white-space: nowrap;
  width: 160px;
}
.products .by-vfat-16025-C61RwL {
  --anima-z-index: 32;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(196,196,196,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 928px;
  letter-spacing: 0.00px;
  line-height: 10px;
  opacity: 1;
  position: absolute;
  text-align: justify;
  top: 1231px;
  white-space: nowrap;
  width: 160px;
}
.products .click-on-a-plore-5918-C61RwL {
  --anima-z-index: 15;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 373px;
  width: 222px;
}
.products .community--ools-16026-C61RwL {
  --anima-z-index: 19;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 389px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 1030px;
  width: 665px;
}
.products .dex-agg-li-ders-92236-0YAJyy {
  --anima-z-index: 3;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 81px;
  letter-spacing: 2.64px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 54px;
  width: 212px;
}
.products .documentat-n-i4416386-Ebfosa {
  --anima-z-index: 3;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1060px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 29px;
  width: auto;
}
.products .dsdtools-16018-C61RwL {
  --anima-z-index: 26;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 641px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1207px;
  width: 160px;
}
.products .ellipse-11-0YAJyy {
  --anima-z-index: 0;
  background-color: transparent;
  background-image: url(../img/ellipse-11@2x.svg);
  background-size: 100% 100%;
  height: 65px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 65px;
}
.products .ellipse-12-PFs4oT {
  --anima-z-index: 0;
  background-color: transparent;
  background-image: url(../img/ellipse-12@2x.svg);
  background-size: 100% 100%;
  height: 65px;
  left: 1px;
  opacity: 1;
  position: absolute;
  top: 1px;
  width: 65px;
}
.products .ellipse-13-LiMbeo {
  --anima-z-index: 0;
  background-color: transparent;
  background-image: url(../img/ellipse-13@2x.svg);
  background-size: 100% 100%;
  height: 65px;
  left: 229px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 65px;
}
.products .ellipse-14-PICcqq {
  --anima-z-index: 0;
  background-color: transparent;
  background-image: url(../img/ellipse-14@2x.svg);
  background-size: 100% 100%;
  height: 65px;
  left: 73px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 65px;
}
.products .ellipse-14-rOXxgA {
  --anima-z-index: 0;
  background-color: transparent;
  background-image: url(../img/ellipse-14@2x.svg);
  background-size: 100% 100%;
  height: 65px;
  left: 234px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 65px;
}
.products .ellipse-15-C61RwL {
  --anima-z-index: 4;
  background-color: transparent;
  background-image: url(../img/ellipse-15@1x.svg);
  background-size: 100% 100%;
  height: 374px;
  left: 275px;
  opacity: 1;
  position: absolute;
  top: 459px;
  width: 879px;
}
.products .ellipse-9-C61RwL {
  --anima-z-index: 16;
  background-color: transparent;
  background-image: url(../img/ellipse-9@2x.svg);
  background-size: 100% 100%;
  height: 9px;
  left: 142px;
  opacity: 1;
  position: absolute;
  top: 378px;
  width: 9px;
}
.products .footer-C61RwL {
  --anima-z-index: 1;
  background-color: transparent;
  height: 207px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 1488px;
  width: 1440px;
}
.products .get-in-tou--i44173871-iPe1yZ {
  --anima-z-index: 2;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 243px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 120px;
  width: 142px;
}
.products .get-in-tou-h-i4416387-Ebfosa {
  --anima-z-index: 4;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1226px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 29px;
  width: auto;
}
.products .get-in-tou-h-i4417979-iPe1yZ {
  --anima-z-index: 7;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 243px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 120px;
  width: 142px;
}
.products .gold-pegge-coin-92243-LiMbeo {
  --anima-z-index: 3;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 2.64px;
  opacity: 1;
  position: absolute;
  text-align: right;
  top: 45px;
  width: 212px;
}
.products .governance--i44173874-iPe1yZ {
  --anima-z-index: 5;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1056px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 120px;
  width: 142px;
}
.products .hype-C61RwL {
  --anima-z-index: 11;
  background-color: transparent;
  height: 65px;
  left: 807px;
  opacity: 1;
  position: absolute;
  top: 726px;
  width: 299px;
}
.products .hype-protocol-92240-rOXxgA {
  --anima-z-index: 3;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 3.22px;
  opacity: 1;
  position: absolute;
  text-align: right;
  top: 8px;
  width: 212px;
}
.products .i-602-C61RwL {
  --anima-z-index: 17;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(0,0,0,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 9px;
  font-style: normal;
  font-weight: 800;
  height: auto;
  left: 145px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 378px;
  width: 5px;
}
.products .image-1-Ebfosa {
  --anima-z-index: 6;
  background-color: transparent;
  background-image: url(../img/image-1@2x.jpg);
  background-size: 100% 100%;
  height: 64px;
  left: 44px;
  opacity: 1;
  position: absolute;
  top: 10px;
  width: 276px;
}
.products .image-12-iPe1yZ {
  --anima-z-index: 11;
  background-color: transparent;
  background-image: url(../img/image-12@2x.jpg);
  background-size: 100% 100%;
  height: 27px;
  left: 243px;
  opacity: 1;
  position: absolute;
  top: 183px;
  width: 27px;
}
.products .image-13-iPe1yZ {
  --anima-z-index: 12;
  background-color: transparent;
  background-image: url(../img/image-13@2x.jpg);
  background-size: 100% 100%;
  height: 29px;
  left: 277px;
  opacity: 1;
  position: absolute;
  top: 182px;
  width: 29px;
}
.products .image-14-iPe1yZ {
  --anima-z-index: 13;
  background-color: transparent;
  background-image: url(../img/image-14@2x.jpg);
  background-size: 100% 100%;
  height: 27px;
  left: 313px;
  opacity: 1;
  position: absolute;
  top: 183px;
  width: 26px;
}
.products .image-15-iPe1yZ {
  --anima-z-index: 14;
  background-color: transparent;
  background-image: url(../img/image-15@2x.jpg);
  background-size: 100% 100%;
  height: 24px;
  left: 316px;
  opacity: 1;
  position: absolute;
  top: 153px;
  width: 24px;
}
.products .image-4-PICcqq {
  --anima-z-index: 1;
  background-color: transparent;
  background-image: url(../img/image-4@2x.jpg);
  background-size: 100% 100%;
  height: 44px;
  left: 83px;
  opacity: 1;
  position: absolute;
  top: 12px;
  width: 44px;
}
.products .image-6-iPe1yZ {
  --anima-z-index: 8;
  background-color: transparent;
  background-image: url(../img/image-6@2x.png);
  background-size: 100% 100%;
  height: 19px;
  left: 353px;
  opacity: 1;
  position: absolute;
  top: 155px;
  width: 20px;
}
.products .image-7-iPe1yZ {
  --anima-z-index: 9;
  background-color: transparent;
  background-image: url(../img/image-7@2x.jpg);
  background-size: 100% 100%;
  height: 20px;
  left: 283px;
  opacity: 1;
  position: absolute;
  top: 155px;
  width: 20px;
}
.products .image-8-iPe1yZ {
  --anima-z-index: 10;
  background-color: transparent;
  background-image: url(../img/image-8@2x.png);
  background-size: 100% 100%;
  height: 26px;
  left: 243px;
  opacity: 1;
  position: absolute;
  top: 152px;
  width: 27px;
}
.products .info-alter-ming-16024-C61RwL {
  --anima-z-index: 31;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(196,196,196,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 927px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 1262px;
  width: 167px;
}
.products .line-5-C61RwL {
  --anima-z-index: 2;
  background-color: transparent;
  background-image: url(../img/line-5@2x.svg);
  background-size: 100% 100%;
  height: 164px;
  left: 716px;
  opacity: 1;
  position: absolute;
  top: 649px;
  width: 0px;
}
.products .line-6-C61RwL {
  --anima-z-index: 3;
  background-color: transparent;
  background-image: url(../img/line-6@2x.svg);
  background-size: 100% 100%;
  height: 0px;
  left: 648px;
  opacity: 1;
  position: absolute;
  top: 912px;
  width: 140px;
}
.products .liquidity--king-95178-rOXxgA {
  --anima-z-index: 2;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 17px;
  letter-spacing: 2.64px;
  opacity: 1;
  position: absolute;
  text-align: right;
  top: 38px;
  width: 195px;
}
.products .metric-C61RwL {
  --anima-z-index: 12;
  background-color: transparent;
  height: 71px;
  left: 343px;
  opacity: 1;
  position: absolute;
  top: 507px;
  width: 297px;
}
.products .metric-exc-ange-92227-0YAJyy {
  --anima-z-index: 2;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 81px;
  letter-spacing: 3.22px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 17px;
  width: 212px;
}
.products .money-market-962-PICcqq {
  --anima-z-index: 2;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 2.64px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 113px;
  width: 212px;
}
.products .nav-C61RwL {
  --anima-z-index: 0;
  background-color: transparent;
  height: 86px;
  left: 0px;
  opacity: 1;
  position: fixed;
  top: 0px;
  width: 1440px;
}
.products .products-i4416385-Ebfosa {
  --anima-z-index: 2;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 936px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 29px;
  width: auto;
}
.products .rectangle-1-Ebfosa {
  --anima-z-index: 0;
  background-color: rgba(0,0,0,1.0);
  border: 1px solid rgba(255,255,255,1.0);
  height: 86px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.products .rectangle-2-Ebfosa {
  --anima-z-index: 1;
  background-color: rgba(0,0,0,1.0);
  border: 1px solid rgba(255,255,255,1.0);
  height: 86px;
  left: 824px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 616px;
}
.products .rectangle-6-iPe1yZ {
  --anima-z-index: 0;
  background-color: transparent;
  border: 1px solid rgba(255,255,255,1.0);
  height: 239px;
  left: -1px;
  opacity: 1;
  position: absolute;
  top: 19px;
  width: 1442px;
}
.products .rectangle-8-C61RwL {
  --anima-z-index: 21;
  background-color: transparent;
  border: 1px solid rgba(246,246,246,1.0);
  border-radius: 62px;
  height: 161px;
  left: 321px;
  opacity: 1;
  position: absolute;
  top: 1173px;
  width: 226px;
}
.products .rectangle-8-VMr6Om {
  --anima-z-index: 25;
  background-color: transparent;
  border: 1px solid rgba(246,246,246,1.0);
  border-radius: 62px;
  height: 161px;
  left: 607px;
  opacity: 1;
  position: absolute;
  top: 1173px;
  width: 226px;
}
.products .rectangle-8-mzXdH9 {
  --anima-z-index: 29;
  background-color: transparent;
  border: 1px solid rgba(246,246,246,1.0);
  border-radius: 62px;
  height: 161px;
  left: 893px;
  opacity: 1;
  position: absolute;
  top: 1173px;
  width: 226px;
}
.products .small-piece-1-iPe1yZ {
  --anima-z-index: 1;
  background-color: transparent;
  background-image: url(../img/small-piece-1@2x.png);
  background-size: 100% 100%;
  height: 78px;
  left: 694px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 52px;
}
.products .span1-H7zz3N {
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 500;
}
.products .span1-zttURh {
  font-family: 'Karla', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
}
.products .span2-H7zz3N {
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
}
.products .span2-zttURh {
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
}
.products .span3-H7zz3N {
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 500;
}
.products .stake-buil--i44173873-iPe1yZ {
  --anima-z-index: 4;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 785px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 120px;
  width: 142px;
}
.products .stats-info-llar-16019-C61RwL {
  --anima-z-index: 27;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(196,196,196,1.0);
  font-family: 'Karla', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 641px;
  letter-spacing: 0.00px;
  line-height: 18px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 1262px;
  width: 167px;
}
.products .token-scanxyz-1608-C61RwL {
  --anima-z-index: 22;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 355px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1207px;
  width: 160px;
}
.products .updown-C61RwL {
  --anima-z-index: 13;
  background-color: transparent;
  height: 67px;
  left: 339px;
  opacity: 1;
  position: absolute;
  top: 707px;
  width: 301px;
}
.products .updown-finance-92238-PFs4oT {
  --anima-z-index: 3;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 85px;
  letter-spacing: 3.22px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 2px;
  width: 212px;
}
.products .vector-rOXxgA {
  --anima-z-index: 1;
  background-color: transparent;
  background-image: url(../img/vector@2x.svg);
  background-size: 100% 100%;
  height: 30px;
  left: 255px;
  opacity: 1;
  position: absolute;
  top: 17px;
  width: 27px;
}
.products .vfattools-16023-C61RwL {
  --anima-z-index: 30;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Epilogue', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 927px;
  letter-spacing: 0.00px;
  opacity: 1;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1207px;
  width: 160px;
}
.products .vortex-961-PICcqq {
  --anima-z-index: 3;
  background-color: transparent;
  border: 1px solid transparent;
  color: rgba(255,255,255,1.0);
  font-family: 'Roboto Mono', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 3.22px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 84px;
  width: 212px;
}
.products .vortex-C61RwL {
  --anima-z-index: 10;
  background-color: transparent;
  height: 130px;
  left: 611px;
  opacity: 1;
  position: absolute;
  top: 804px;
  width: 216px;
}
:root {
  --black: rgba(0,0,0,1.0);
  --eerie-black: rgba(28,28,28,1.0);
  --mist-gray: rgba(196,196,196,1.0);
  --white: rgba(255,255,255,1.0);
}